includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src

    bootstrapFiles:
        - phpstan/phpstan-bootstrap.php

    reportUnmatchedIgnoredErrors: true

    scanFiles:
        # Include Laravel helpers from the test app
        - test-app/laravel_root/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
        - test-app/laravel_root/vendor/laravel/framework/src/Illuminate/Support/helpers.php